{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tech Talk</title>

    <!-- Materialize CSS -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper black">
                <ul>
                    <li>
                        <a href="{% url 'blog_urls:home' %}" class="left brand-logo">
                            <img src="{% static 'images/partial-logo.png' %}" alt="Tech Talk Logo" width="80">
                        </a>
                    </li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'blog_urls:about' %}" class="btn blue lighten-4 black-text">About Us</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}" class="btn blue lighten-4 black-text">Logout</a></li>
                        <li><a href="{% url 'blog_urls:blog_create' %}" class="btn blue lighten-4 black-text">Add Post</a></li>
                        <li><a href="{% url 'blog_urls:index' %}" class="btn blue lighten-4 black-text">View Posts</a></li>
                        <li><a href="{% url 'blog_urls:explore' %}" class="btn blue lighten-4 black-text">Explore</a></li>
                    {% else %}
                        <li><a href="{% url 'members_urls:register_user' %}"class="btn blue lighten-4 black-text">Register</a></li>
                         <li><a href="{% url 'members_urls:login' %}" class="btn blue lighten-4 black-text">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer class="page-footer black">
        <div class="center">
            All Rights Reserved, &copy: 2021 Tech Talk
        </div>
    </footer>
</body>
</html>