{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tech Talk</title>

    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Materialize CSS -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/dfeacce2a5.js" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper nav-styling valign-wrapper black
            ">
                <ul class="nav-left">
                    <li>
                        <a href="{% url 'blog_urls:home' %}" class="left brand-logo">
                            <img src="{% static 'images/partial-logo.png' %}" alt="Tech Talk Logo" width="80">
                        </a>
                    </li>
                    <li><a href="{% url 'blog_urls:about' %}" class="waves-effect" style="margin-left: 90px;">About Us</a></li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="hide-on-med-and-down">      
                    <li id="add_post"><a href="{% url 'blog_urls:blog_create' %}" class="waves-effect ">Add Post</a></li>
                    <li id="my_post"><a href="{% url 'blog_urls:index' %}" class="waves-effect">My Posts</a></li>
                    <li id="explore"><a href="{% url 'blog_urls:explore' %}" class="waves-effect">Explore</a></li>
                </ul>
                <ul class="hide-on-med-and-down">
                    <li><a href="{% url 'members_urls:profile' user.get_userprofile_id %}" class="waves-effect">My Profile</a></li>
                    <li><a href="{% url 'logout' %}" class="waves-effect">Logout</a></li>
                    {% else %}
                    <ul class="hide-on-med-and-down">
                        <li><a href="{% url 'members_urls:login' %}" class="waves-effect">Login</a></li>
                        <li class="active"><a href="{% url 'members_urls:register_user' %}" class="waves-effect">Get Started</a></li>
                    {% endif %}
                </ul>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        {% if user.is_authenticated %}
        <ul id="slide-out" class="sidenav">
            <li><a href="{% url 'blog_urls:blog_create' %}" class="waves-effect black-text ">Add Post</a></li>
            <li><a href="{% url 'blog_urls:index' %}" class="waves-effect black-text">My Posts</a></li>
            <li><a href="{% url 'blog_urls:explore' %}" class="waves-effect black-text">Explore</a></li>
            <li><a href="{% url 'members_urls:profile' user.get_userprofile_id %}" class="waves-effect black-text">My Profile</a></li>
            <li><a href="{% url 'logout' %}" class="black-text">Logout</a></li>
        </ul>
        {% else %}
        <ul class="sidenav" id="slide-out">
            <li><a href="{% url 'members_urls:login' %}" class="waves-effect black-text">Login</a></li>
            <li><a href="{% url 'members_urls:register_user' %}" class="waves-effect black-text">Get Started</a></li>
        </ul> 
        {% endif %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer class="page-footer black center">
        <a href="https://www.linkedin.com/" 
        target="_blank" 
        class="btn-floating btn-small pulse">
        <img src="https://www.freepnglogos.com/uploads/linkedin-basic-round-social-logo-png-13.png" 
        alt="code" 
        style="width:100%;height:100%"
        target="_blank"
        class="circle">
       </a>
       <a href="https://github.com/polina-g/tech-talk/" 
       target="_blank" 
       class="btn-floating btn-small pulse">
       <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" 
       alt="code" 
       style="width:100%;height:100%"
       target="_blank"
       class="circle">
      </a>
      <a href="https://twitter.com" 
      target="_blank" 
      class="btn-floating btn-small pulse">
      <img src="https://about.twitter.com/content/dam/about-twitter/en/brand-toolkit/brand-download-img-1.jpg.twimg.1920.jpg" 
      alt="code" 
      style="width:100%;height:100%"
      target="_blank"
      class="circle">
     </a>
        <div class="center">
            All Rights Reserved, &copy: 2021 Tech Talk
        </div>
    </footer>
</body>
<script>
    $(document).ready(function(){
    $('.sidenav').sidenav({
        edge: 'right'
    });
});
</script>
<script>
    const page_id = localStorage.getItem('active-tab')
    $(`#${page_id}`).addClass('active');
    $('li').on('click', makeActive)

    function makeActive(event) {
        const clicked = $(event.target);
        localStorage.setItem('active-tab', clicked.parent().attr('id'))
        $('li').each(function(){
            if(clicked.hasClass('active')){
                clicked.removeClass('active');
            }
        });
    }
    localStorage.setItem('active-tab', '');
</script>

</html>