{% extends 'base.html' %}

{% load static %}

{% block main %}
<!-- <img src="{% static 'images/landing-img.png' %}" alt="" class="landing-image"> -->
<div class="landing-main-container">
    <div class="landing-auth">
        <a href="{% url 'members_urls:login' %}" class="waves-effect waves-teal btn-large black white-text landing-auth-button">Login</a>
        <a href="#" class="waves-effect waves-teal btn-large black white-text landing-auth-button">Get Started</a>
    </div>
</div>

{% endblock %}