
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="container">
      <div class="z-depth-4">
            <div class="form-margin">
                  <form class="validate" method="POST">
                        <h2 class="center" style="padding-top: 30px;">Edit User Info</h2>  
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="row">
                              <button type="submit" class="btn blue white-text form-button">Update User Info</button>  
                              <a href="{% url 'members_urls:profile' user.get_userprofile_id %}" class="btn yellow darken-3 white-text">Cancel</a>
                        </div>
                  </form>
            </div>
      </div>
</div>


{% endblock %}