{% extends 'base.html' %}

{% block main %}
<br/>
<div class="container">
  <h1 class="center">Login</h1>
  {% if error %}
  <div class="row">
    <div class="col s12">
      <div class="card red lighten-3">
        <div class="card-content black-text">
          <span class="right"><i class="material-icons close">clear</i></span>
          <p>{{error}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <center>
  <form action="" method=POST>
      {% csrf_token %}
      <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label" >Username</label>
            <input 
            type="text" 
            class="form-control" 
            name= "username" 
            aria-describedby="emailHelp">
            </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input 
            type="password" 
            class="form-control" 
            name= "password">
          </div>
        <button type="submit" class="btn-large blue form-button">Login</button>
        </form>   
  </form>
  </center>
</div>
<script>
  $close_btn = $('.close');
  $close_btn.click(function() {
    $close_btn.parents('div.row').addClass('hidden')
  })
</script>
{% endblock %}