{% extends "base.html" %}
{% load static %}
{% block main %}

<div class="container">
    <div class="row">
        <div class="col s12 header-text">
            <h5 class="center" >Latest on</h5>
            <h1 class="center header-text-no-margin" >Tech Talk</h1>
        </div>

        {% for blog in object_list%}
        <div class="col s12 m12 l6">
            <a href="{% url 'blog_urls:detail' blog.id %}">
                <div class="card large darken-1 ">
                    <div class = "card-image">
                        <img src="{{blog.image_url}}" alt="" class="responsive-img"">
                    </div>
                    <div class="card-content"> 
                        <h4> {{blog.title}} </h4>
                        <h5>{{ blog.user.username }}</h5>
                        <span>{{blog.date_posted}}</span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}