* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

footer {
    padding-top: 0;
    height: 70px;
    
}

nav {
    height: 80px;
}

.landing-main-container{
    background-image: url('https://i.imgur.com/zNp7r3Y.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    position: relative;
}

.landing-auth {
    display: flex;
    justify-content: center;
    gap: 30px;
    position: absolute;
    margin-top: 38%;
    width: 100%
}

.landing-auth-button {
    opacity: 0.6;
}

.landing-auth-button:hover{
    opacity: 0.4;
}



.card{
    background-color: purple;
   
} 

.purple-border {
    border: 3px solid purple;
}

.delete_blog_confirm_form {
    margin-top: 50px;
    margin-bottom: 20px;
}

.delete_blog_confirm_container {
    margin-top: 100px; 
}

.hidden {
    display: none;
}
